
.header-wrap{
  height: 550px;
  position: relative;
  margin-bottom: -450px;
  .header{
    -webkit-transition: background 0.25s ease;
    transition: background 0.25s ease;
    left: 0;
    right: 0;
    text-align: center;
    .page{
      margin-top: 0px;
      margin-bottom: 0px;
      -webkit-transition: background 0.4s;
      transition: background 0.4s;
      width: auto;
      margin-left: 0em;
      margin-right: 0em;
      padding-left: 9%;
      padding-right: 9%;
      .wrapper{
        margin-top: 0px;
        margin-bottom: 0px;
        -webkit-transition: background 0.4s;
        transition: background 0.4s;
        text-align: center;
        position: relative;
        top: 70px;
        padding-left: 1rem;
        padding-right: 1rem;
        .sidebar-toggle{
          position: absolute;
          left: 1rem;
          color: #fff;
          cursor: pointer;
          -webkit-transition: font 0.25s;
          transition: font 0.25s;
          .icon-base{
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
          .name{
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .header-title{
    position: absolute;
    bottom: 520px;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    width: 100%;
  }
  .header-bg-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: -1;
    .header-bg{
      background-image: url("../img/index-bg.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      z-index: -1;
      height: 100%;
      background-position: 50% 50%;
      top: 0px;
      left: 0px;
      .header-bg-cloak{
        background: linear-gradient(to top, #101010 0%, rgba(5,5,5,0.6) 40%,rgba(4,4,4,0.4) 100%);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }
}

