<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>PhotoGallery</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external = True) }}">
</head>
<body>
<div id="app">

    <left-sidebar></left-sidebar>
    <!--登陆模态框-->
    <div class="uk-modal login-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">登陆</div>
            <form class="uk-form uk-form-horizontal uk-text-center">

                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-right" for="form-l-useremail">邮箱</label>
                        <input type="text" id="form-l-useremail" placeholder="Text input" v-model="user_email">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-right" for="form-l-password">密码</label>
                        <input type="password" id="form-l-password" placeholder="Password input" v-model="user_password">
                </div>
            </form>
            <div class="uk-modal-footer uk-text-right">
                <p>
                    <a class="uk-button uk-button-primary" @click="login">登陆</a>
                    <a class="uk-button uk-button-success" data-uk-modal="{target:'.register-modal',center:true}">注册</a>
                </p>
            </div>
        </div>
    </div>
    <!--注册模态框-->
    <div class="uk-modal register-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">注册</div>
            <form class="uk-form uk-form-horizontal uk-text-center">
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-right" for="form-r-email">邮箱</label>
                    <input type="email" id="form-r-email" placeholder="Text input" v-model="user_email">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-right" for="form-r-password">密码</label>
                    <input type="password" id="form-r-password" placeholder="Password input" v-model="user_password">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-right" for="form-r-username">用户名</label>
                    <input type="text" id="form-r-username" placeholder="Text input" v-model="user_name">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-right" for="form-r-password">头像上传</label>
                    <div class="uk-form-file uk-text-right">
                        <button class="uk-button">选择照片</button>
                        <input type="file">
                    </div>
                </div>
            </form>
            <div class="uk-modal-footer uk-text-right">
                <p>
                    <a class="uk-button uk-button-primary" @click="register">确认</a>
                    <a class="uk-button uk-modal-close">取消</a>
                </p>
            </div>
        </div>
    </div>
    <!--退出登陆模态框-->
    <div class="uk-modal logout-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">退出登陆</div>
            <p>是否要退出登陆?</p>
            <div class="uk-modal-footer uk-text-right">
                <p>
                    <a class="uk-button uk-button-primary" @click="logout">确认</a>
                    <a class="uk-button uk-modal-close">取消</a>
                </p>
            </div>
        </div>
    </div>
    <!--编辑照片模态框-->
    <template id='photoModal'>
      <div class="uk-modal edit" i>
          <div class="uk-modal-dialog">
              <a class="uk-modal-close uk-close"></a>
              <div class="uk-modal-header">编辑相片信息</div>
              <div class="edit-content">
                  <form class="uk-form uk-form-horizontal">

                      <div class="uk-form-row">
                          <label class="uk-form-label" for="form-h-it">名称</label>
                          <div class="uk-form-controls">
                              <input  name="photo_name"type="text" id="form-h-it" placeholder="Text input" v-model="title">
                          </div>
                      </div>
                      <div class="uk-form-row">
                          <label class="uk-form-label" for="form-h-s">分类</label>
                          <div class="uk-form-controls">
                              <select id="form-h-s" v-model="tag">
                                {%for photo_album in photo_albums %}
                                  <option value="{{ photo_album.id }}">{{ photo_album.category }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                      <div class="uk-form-row">
                          <label class="uk-form-label" for="form-h-t">描述</label>
                          <div class="uk-form-controls">
                              <textarea name="photo_content" id="form-h-t" cols="30" rows="5" placeholder="Textarea text" v-model="content"></textarea>
                          </div>
                      </div>
                      <div class="uk-form-row">
                          <span class="uk-form-label">权限设置</span>
                          <div class="uk-form-controls uk-form-controls-text">
                              <input type="checkbox" id="form-h-c1"> <label for="form-h-c1">公开</label>
                              <label><input type="checkbox"> 私有</label>
                          </div>
                      </div>

                  </form>
              </div>
              <div class="uk-modal-footer uk-text-right">
                  <p>
                      <a class="uk-button uk-button-primary" @click='editPhoto'>确认</a>
                      <a class="uk-button">取消</a>
                  </p>
              </div>
          </div>
      </div>
      </template>
    <!--上传图片模态框-->
    <!-- <template id="upload-img">

    </template> -->
    <div class="dialog_con uk-modal" id="upload-img" transition="fade">
        <div class="dialog_main_con all_center uk-modal-dialog" >
            <div class="dialog_head">
                <h2>素材库</h2>
            </div>
            <div class="dialog_main lib_con">
            </div>

            <form id='form'  onsubmit="validateForm()" enctype="multipart/form-data">
              <select name="category_id">
                {%for photo_album in photo_albums %}
                <option value="{{ photo_album.id }}">{{ photo_album.category }}</option>
                {{%endfor%}}
              </select>
              <label class="control-label">Planets and Satellites</label>
              <!-- <input type="file" name='image'> -->
              <!-- <button type="submit">提交</button> -->
              <input id="input-25" name="image"  type="file" multiple class="file-loading">
            </form>

        </div>
    </div>

<!--主页面pusher-->
    <div class="pusher">
        <!--pusher头部-->
        <header class="header-wrap">
            <div class="header">
                <div class="page">
                    <div class="wrapper">
                    <span class="sidebar-toggle">
                        <i class="icon-base"></i>
                        <span class="name">PhotoGallery</span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="header-title">
                韦东翔的毕业设计
            </div>
            <div class="header-bg-wrapper">
                <div class="header-bg">
                    <div class="header-bg-cloak"></div>
                </div>
            </div>
        </header>
        <!--pusher主要内容展示路由-->
        <router-view></router-view>

    </div>
</div>
<!--侧边栏-->
<template id="sidebar-container">
    <div class="left-sidebar">
        <div class="user-info" v-if="!loginEmail">
            <div class="user-img" data-uk-modal="{target:'.login-modal',center:true}">
                <img src="" alt="">
            </div>
            <p class="user-email">登录</p>
        </div>
        <div class="user-info" v-if="loginEmail" data-uk-modal="{target:'.logout-modal',center:true}">
            <div class="user-img">
                <img src="" alt="">
            </div>
            <p class="user-email">{{loginEmail}}</p>
        </div>
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}" data-uk-switcher="{connect:'#filter-view'}">
            <li class="uk-parent uk-active" aria-expanded="false">
                <a href="#">相片分类</a>
                <ul class="uk-nav-sub" id="filter-view">
                  {%for photo_album in photo_albums %}
                    <li name = {{ photo_album.id }}><a href="#" v-link="{ path: '/'+ {{ photo_album.id }} }" class="uk-active" @click="changeView({{ photo_album.id }})">{{ photo_album.category }}</a></li>
                  {% endfor %}

                </ul>
            </li>
            <li class="">
                <a v-link="{ path: '/manage' }">相册管理</a>
            </li>
            <li class="">
                <a v-link="{ path: '/' }">返回主页</a>
            </li>
        </ul>
    </div>
</template>
<!--index模版-->
<template id="index-view">
    <div class="layout">
        <div class="content">

          <my-box v-for="item in photo_data"  :data-bind="item"></my-box>

        </div>
    </div>
</template>
<!--box组件模版-->
<template id="index-box">
    <div class="box" @mouseover="mouseEnter" @mouseout="mouseLeave" >
        <a :href="dataBind.Photo_url" data-uk-lightbox="{group:'my-group'}">
            <div class="img-overflow">
                <img :src="dataBind.Photo_url">
            </div>
            <div class="uk-overlay-panel">
                <div class="text-content">
                    <div class="top">
                        <div class="meta">
                            <span class="time">aaa</span>
                            <span class="views">aaa</span>
                        </div>
                    </div>
                </div>
                <div class="text-content">
                    <div class="bottom">
                        <div class="meta">
                            <span class="detail">aaa</span>
                            <span class="author">aaaa</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>
<!--管理相片页模版-->
<template id="manage-view">
    <div class="layout manage-container">
        <div class="manage-wrap" v-if="loginEmail">
            <h5 class="manage-title">{{$route.params.filterHref}}</h5>
            <nav class="uk-navbar uk-navbar-attached">

                <ul class="uk-navbar-nav"   data-uk-switcher="{connect:'#filter'}">
                    <li class="uk-active"><a href="#" v-link="{ path: '/manage' }" @click="all">所有</a></li>
                    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                        <a>分类</a>

                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;">
                            <ul class="uk-nav uk-nav-navbar" id="filter">
                              {%for photo_album in photo_albums %}
                                <li name = {{ photo_album.id }}><a href="#" v-link="{ path: '/manage/'+ {{ photo_album.id }} }" @click="changeTag({{ photo_album.id }})">{{ photo_album.category }}</a></li>
                                  {% endfor %}
                            </ul>
                        </div>

                    </li>
                </ul>

            </nav>
            <p>
                <button class="uk-button uk-button-primary" type="button" data-uk-modal="{target:'#upload-img'}">上传图片</button>
            </p>
            <div class="manage-content">
                <div class="uk-margin content-padding" data-uk-margin="20px">
                    <ul class="uk-thumbnav uk-grid-width-1-5">
                        <photo-thumb v-for="(index ,photo) in photo_data" :data-bind="photo" :index="index" ></photo-thumb>
                    </ul>
                    <ul class="uk-pagination">
                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                        <li class="uk-active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">20</a></li>
                        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="manage-wrap" v-if="!loginEmail">
            <h5 class="manage-title">请先登录!</h5>
        </div>
        <!--<template>-->

        <!--</template>-->

    </div>
    <app-modal  v-ref:modal></app-modal>
</template>

<!--相片选项模版-->
<template id="photo-thumb">
    <li  @mouseenter="mouseEnter" @mouseleave="mouseLeave">
        <section class="uk-thumbnail" :href="dataBind.Photo_url" data-uk-lightbox="{group:'my-group'}">
            <img :src="dataBind.Photo_url" width="200" height="100" alt="">

            <div class="uk-thumbnail-caption"><h4>{{dataBind.title}}</h4></div>
        </section>
        <div class="uk-button-dropdown photo-op" data-uk-dropdown v-show="show">

            <!-- This is the button toggling the dropdown -->
            <a class="uk-button">
                <i class="uk-icon-chevron-down"></i>
            </a>

            <!-- This is the dropdown -->
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a @click="editPhoto">编辑</a></li>
                    <li><a @click="deletePhoto">删除</a></li>

                </ul>
            </div>
        </div>
    </li>

</template>

    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/lib/uikit/uikit.min.js"></script>
    <!-- <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script src="../static/js/lib/vue.min.js"></script>
    <script src="../static/js/lib/vue-router.min.js"></script>
    <script src="../static/js/lib/masonry.pkgd.min.js"></script>
    <script src="../static/js/lib/imagesLoaded.pkgd.min.js"></script>
    <script src="../static/js/lib/fileinput.min.js"></script>
    <script src="../static/js/lib/uikit/components/lightbox.min.js"></script>
    <script src="../static/js/pages/components.js"></script>
    <script src="../static/js/pages/views.js"></script>
    <script src="../static/js/pages/index.js"></script>
</body>
</html>
